/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Container */

	body {
		/* min-width: (containers) */
		min-width: 1200px;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		
		/* width: (containers) */
		width: 1200px;
	}

	/* Modifiers */
	
		.container.small {
			/* width: (containers) * 0.75; */
			width: 900px;
		}

		.container.big {
			width: 100%;

			/* max-width: (containers) * 1.25; */
			max-width: 1500px;

			/* min-width: (containers); */
			min-width: 1200px;
		}

/* Grid */

	.\31 2u { width: 100% }
	.\31 1u { width: 91.6666666667% }
	.\31 0u { width: 83.3333333333% }
	.\39 u { width: 75% }
	.\38 u { width: 66.6666666667% }
	.\37 u { width: 58.3333333333% }
	.\36 u { width: 50% }
	.\35 u { width: 41.6666666667% }
	.\34 u { width: 33.3333333333% }
	.\33 u { width: 25% }
	.\32 u { width: 16.6666666667% }
	.\31 u { width: 8.3333333333% }
	.\-11u { margin-left: 91.6666666667% }
	.\-10u { margin-left: 83.3333333333% }
	.\-9u { margin-left: 75% }
	.\-8u { margin-left: 66.6666666667% }
	.\-7u { margin-left: 58.3333333333% }
	.\-6u { margin-left: 50% }
	.\-5u { margin-left: 41.6666666667% }
	.\-4u { margin-left: 33.3333333333% }
	.\-3u { margin-left: 25% }
	.\-2u { margin-left: 16.6666666667% }
	.\-1u { margin-left: 8.3333333333% }

	/* Rows */

		.row > * {
			float: left;
		}

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0 !important;
		}

		.row.uniform > * > :first-child {
			margin-top: 0;
		}

		.row.uniform > * > :last-child {
			margin-bottom: 0;
		}

		/* Normal */

			.row > * {
				/* padding-left: (gutters.vertical) */
				padding-left: 4em;
			}

			.row + .row > * {
				/* padding: (gutters.horizontal) 0 0 (gutters.vertical) */
				padding: 0 0 0 4em;
			}

			.row {
				/* margin-left: -(gutters.vertical) */
				margin-left: -4em;
			}

			.row + .row.uniform > * {
				/* padding: (gutters.vertical) 0 0 (gutters.vertical) */
				padding: 4em 0 0 4em;
			}

		/* Flush */

			.row.flush > * {
				padding-left: 0;
			}

			.row + .row.flush > * {
				padding: 0;
			}

			.row.flush {
				margin-left: 0;
			}

			.row + .row.uniform.flush > * {
				padding: 0;
			}

		/* Quarter */

			.row.quarter > * {
				/* padding-left: (gutters.vertical * 0.25) */
				padding-left: 1em;
			}

			.row + .row.quarter > * {
				/* padding: (gutters.horizontal * 0.25) 0 0 (gutters.vertical * 0.25) */
				padding: 0 0 0 1em;
			}

			.row.quarter {
				/* margin-left: -(gutters.vertical * 0.25) */
				margin-left: -1em;
			}

			.row + .row.uniform.quarter > * {
				/* padding: (gutters.vertical * 0.25) 0 0 (gutters.vertical * 0.25) */
				padding: 1em 0 0 1em;
			}

		/* Half */

			.row.half > * {
				/* padding-left: (gutters.vertical * 0.5) */
				padding-left: 2em;
			}

			.row + .row.half > * {
				/* padding: (gutters.horizontal * 0.5) 0 0 (gutters.vertical * 0.5) */
				padding: 0 0 0 2em;
			}

			.row.half {
				/* margin-left: -(gutters.vertical * 0.5) */
				margin-left: -2em;
			}

			.row + .row.uniform.half > * {
				/* padding: (gutters.vertical * 0.5) 0 0 (gutters.vertical * 0.5) */
				padding: 2em 0 0 2em;
			}

		/* One and (a) Half */

			.row.oneandhalf > * {
				/* padding-left: (gutters.vertical * 1.5) */
				padding-left: 6em;
			}

			.row + .row.oneandhalf > * {
				/* padding: (gutters.horizontal * 1.5) 0 0 (gutters.vertical * 1.5) */
				padding: 0 0 0 6em;
			}

			.row.oneandhalf {
				/* margin-left: -(gutters.vertical * 1.5) */
				margin-left: -6em;
			}

			.row + .row.uniform.oneandhalf > * {
				/* padding: (gutters.vertical * 1.5) 0 0 (gutters.vertical * 1.5) */
				padding: 6em 0 0 6em;
			}

		/* Double */

			.row.double > * {
				/* padding-left: (gutters.vertical * 2) */
				padding-left: 8em;
			}

			.row + .row.double > * {
				/* padding: (gutters.horizontal * 2) 0 0 (gutters.vertical * 2) */
				padding: 0 0 0 8em;
			}

			.row.double {
				/* margin-left: -(gutters.vertical * 2) */
				margin-left: -8em;
			}

			.row + .row.uniform.double > * {
				/* padding: (gutters.vertical * 2) 0 0 (gutters.vertical * 2) */
				padding: 8em 0 0 8em;
			}

			/* Banner */

	#banner {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-direction: row;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		background-color: #363847;
	}

		#banner > .items {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			width: 40%;
		}

			#banner > .items section {
				padding: 5em 6em 3em 6em ;
				-moz-transition: opacity 0.5s ease-in-out, -moz-transform 0.5s ease-in-out;
				-webkit-transition: opacity 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
				-ms-transition: opacity 0.5s ease-in-out, -ms-transform 0.5s ease-in-out;
				transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
				text-align: center;
			}

				#banner > .items section h1 {
					font-size: 1.75em;
				}

				#banner > .items section.accent1 {
					background-color: #575b72;
					color: rgba(255, 255, 255, 0.75);
				}

					#banner > .items section.accent1 input, #banner > .items section.accent1 select, #banner > .items section.accent1 textarea {
						color: #ffffff;
					}

					#banner > .items section.accent1 a {
						color: #ffffff;
					}

					#banner > .items section.accent1 strong, #banner > .items section.accent1 b {
						color: #ffffff;
					}

					#banner > .items section.accent1 h1, #banner > .items section.accent1 h2, #banner > .items section.accent1 h3, #banner > .items section.accent1 h4, #banner > .items section.accent1 h5, #banner > .items section.accent1 h6 {
						color: #ffffff;
					}

					#banner > .items section.accent1 blockquote {
						border-left-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent1 code {
						background: rgba(255, 255, 255, 0.05);
						border-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent1 hr {
						border-bottom-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent1 input[type="submit"],
					#banner > .items section.accent1 input[type="reset"],
					#banner > .items section.accent1 input[type="button"],
					#banner > .items section.accent1 button,
					#banner > .items section.accent1 .button {
						background-color: transparent;
						box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
						color: #ffffff !important;
					}

						#banner > .items section.accent1 input[type="submit"]:hover,
						#banner > .items section.accent1 input[type="reset"]:hover,
						#banner > .items section.accent1 input[type="button"]:hover,
						#banner > .items section.accent1 button:hover,
						#banner > .items section.accent1 .button:hover {
							background-color: rgba(255, 255, 255, 0.05);
						}

						#banner > .items section.accent1 input[type="submit"]:active,
						#banner > .items section.accent1 input[type="reset"]:active,
						#banner > .items section.accent1 input[type="button"]:active,
						#banner > .items section.accent1 button:active,
						#banner > .items section.accent1 .button:active {
							background-color: rgba(255, 255, 255, 0.1);
						}

						#banner > .items section.accent1 input[type="submit"].primary,
						#banner > .items section.accent1 input[type="reset"].primary,
						#banner > .items section.accent1 input[type="button"].primary,
						#banner > .items section.accent1 button.primary,
						#banner > .items section.accent1 .button.primary {
							box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
							background-color: #5f6484;
							color: #ffffff !important;
						}

							#banner > .items section.accent1 input[type="submit"].primary:hover,
							#banner > .items section.accent1 input[type="reset"].primary:hover,
							#banner > .items section.accent1 input[type="button"].primary:hover,
							#banner > .items section.accent1 button.primary:hover,
							#banner > .items section.accent1 .button.primary:hover {
								background-color: #696f93;
							}

							#banner > .items section.accent1 input[type="submit"].primary:active,
							#banner > .items section.accent1 input[type="reset"].primary:active,
							#banner > .items section.accent1 input[type="button"].primary:active,
							#banner > .items section.accent1 button.primary:active,
							#banner > .items section.accent1 .button.primary:active {
								background-color: #757ca0;
							}

				#banner > .items section.accent2 {
					background-color: #4cabb1;
					color: rgba(255, 255, 255, 0.75);
				}

					#banner > .items section.accent2 input, #banner > .items section.accent2 select, #banner > .items section.accent2 textarea {
						color: #ffffff;
					}

					#banner > .items section.accent2 a {
						color: #ffffff;
					}

					#banner > .items section.accent2 strong, #banner > .items section.accent2 b {
						color: #ffffff;
					}

					#banner > .items section.accent2 h1, #banner > .items section.accent2 h2, #banner > .items section.accent2 h3, #banner > .items section.accent2 h4, #banner > .items section.accent2 h5, #banner > .items section.accent2 h6 {
						color: #ffffff;
					}

					#banner > .items section.accent2 blockquote {
						border-left-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent2 code {
						background: rgba(255, 255, 255, 0.05);
						border-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent2 hr {
						border-bottom-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent2 input[type="submit"],
					#banner > .items section.accent2 input[type="reset"],
					#banner > .items section.accent2 input[type="button"],
					#banner > .items section.accent2 button,
					#banner > .items section.accent2 .button {
						background-color: transparent;
						box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
						color: #ffffff !important;
					}

						#banner > .items section.accent2 input[type="submit"]:hover,
						#banner > .items section.accent2 input[type="reset"]:hover,
						#banner > .items section.accent2 input[type="button"]:hover,
						#banner > .items section.accent2 button:hover,
						#banner > .items section.accent2 .button:hover {
							background-color: rgba(255, 255, 255, 0.05);
						}

						#banner > .items section.accent2 input[type="submit"]:active,
						#banner > .items section.accent2 input[type="reset"]:active,
						#banner > .items section.accent2 input[type="button"]:active,
						#banner > .items section.accent2 button:active,
						#banner > .items section.accent2 .button:active {
							background-color: rgba(255, 255, 255, 0.1);
						}

						#banner > .items section.accent2 input[type="submit"].primary,
						#banner > .items section.accent2 input[type="reset"].primary,
						#banner > .items section.accent2 input[type="button"].primary,
						#banner > .items section.accent2 button.primary,
						#banner > .items section.accent2 .button.primary {
							box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
							background-color: #5ab7bd;
							color: #ffffff !important;
						}

							#banner > .items section.accent2 input[type="submit"].primary:hover,
							#banner > .items section.accent2 input[type="reset"].primary:hover,
							#banner > .items section.accent2 input[type="button"].primary:hover,
							#banner > .items section.accent2 button.primary:hover,
							#banner > .items section.accent2 .button.primary:hover {
								background-color: #6cbfc4;
							}

							#banner > .items section.accent2 input[type="submit"].primary:active,
							#banner > .items section.accent2 input[type="reset"].primary:active,
							#banner > .items section.accent2 input[type="button"].primary:active,
							#banner > .items section.accent2 button.primary:active,
							#banner > .items section.accent2 .button.primary:active {
								background-color: #7cc8cd;
							}

				#banner > .items section.accent3 {
					background-color: #69c7ad;
					color: rgba(255, 255, 255, 0.75);
				}

					#banner > .items section.accent3 input, #banner > .items section.accent3 select, #banner > .items section.accent3 textarea {
						color: #ffffff;
					}

					#banner > .items section.accent3 a {
						color: #ffffff;
					}

					#banner > .items section.accent3 strong, #banner > .items section.accent3 b {
						color: #ffffff;
					}

					#banner > .items section.accent3 h1, #banner > .items section.accent3 h2, #banner > .items section.accent3 h3, #banner > .items section.accent3 h4, #banner > .items section.accent3 h5, #banner > .items section.accent3 h6 {
						color: #ffffff;
					}

					#banner > .items section.accent3 blockquote {
						border-left-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent3 code {
						background: rgba(255, 255, 255, 0.05);
						border-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent3 hr {
						border-bottom-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent3 input[type="submit"],
					#banner > .items section.accent3 input[type="reset"],
					#banner > .items section.accent3 input[type="button"],
					#banner > .items section.accent3 button,
					#banner > .items section.accent3 .button {
						background-color: transparent;
						box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
						color: #ffffff !important;
					}

						#banner > .items section.accent3 input[type="submit"]:hover,
						#banner > .items section.accent3 input[type="reset"]:hover,
						#banner > .items section.accent3 input[type="button"]:hover,
						#banner > .items section.accent3 button:hover,
						#banner > .items section.accent3 .button:hover {
							background-color: rgba(255, 255, 255, 0.05);
						}

						#banner > .items section.accent3 input[type="submit"]:active,
						#banner > .items section.accent3 input[type="reset"]:active,
						#banner > .items section.accent3 input[type="button"]:active,
						#banner > .items section.accent3 button:active,
						#banner > .items section.accent3 .button:active {
							background-color: rgba(255, 255, 255, 0.1);
						}

						#banner > .items section.accent3 input[type="submit"].primary,
						#banner > .items section.accent3 input[type="reset"].primary,
						#banner > .items section.accent3 input[type="button"].primary,
						#banner > .items section.accent3 button.primary,
						#banner > .items section.accent3 .button.primary {
							box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
							background-color: #79d1b8;
							color: #ffffff !important;
						}

							#banner > .items section.accent3 input[type="submit"].primary:hover,
							#banner > .items section.accent3 input[type="reset"].primary:hover,
							#banner > .items section.accent3 input[type="button"].primary:hover,
							#banner > .items section.accent3 button.primary:hover,
							#banner > .items section.accent3 .button.primary:hover {
								background-color: #8cd7c2;
							}

							#banner > .items section.accent3 input[type="submit"].primary:active,
							#banner > .items section.accent3 input[type="reset"].primary:active,
							#banner > .items section.accent3 input[type="button"].primary:active,
							#banner > .items section.accent3 button.primary:active,
							#banner > .items section.accent3 .button.primary:active {
								background-color: #9ddfcd;
							}

				#banner > .items section.accent4 {
					background-color: #fed586;
					color: rgba(255, 255, 255, 0.75);
				}

					#banner > .items section.accent4 input, #banner > .items section.accent4 select, #banner > .items section.accent4 textarea {
						color: #ffffff;
					}

					#banner > .items section.accent4 a {
						color: #ffffff;
					}

					#banner > .items section.accent4 strong, #banner > .items section.accent4 b {
						color: #ffffff;
					}

					#banner > .items section.accent4 h1, #banner > .items section.accent4 h2, #banner > .items section.accent4 h3, #banner > .items section.accent4 h4, #banner > .items section.accent4 h5, #banner > .items section.accent4 h6 {
						color: #ffffff;
					}

					#banner > .items section.accent4 blockquote {
						border-left-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent4 code {
						background: rgba(255, 255, 255, 0.05);
						border-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent4 hr {
						border-bottom-color: rgba(255, 255, 255, 0.25);
					}

					#banner > .items section.accent4 input[type="submit"],
					#banner > .items section.accent4 input[type="reset"],
					#banner > .items section.accent4 input[type="button"],
					#banner > .items section.accent4 button,
					#banner > .items section.accent4 .button {
						background-color: transparent;
						box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
						color: #ffffff !important;
					}

						#banner > .items section.accent4 input[type="submit"]:hover,
						#banner > .items section.accent4 input[type="reset"]:hover,
						#banner > .items section.accent4 input[type="button"]:hover,
						#banner > .items section.accent4 button:hover,
						#banner > .items section.accent4 .button:hover {
							background-color: rgba(255, 255, 255, 0.05);
						}

						#banner > .items section.accent4 input[type="submit"]:active,
						#banner > .items section.accent4 input[type="reset"]:active,
						#banner > .items section.accent4 input[type="button"]:active,
						#banner > .items section.accent4 button:active,
						#banner > .items section.accent4 .button:active {
							background-color: rgba(255, 255, 255, 0.1);
						}

						#banner > .items section.accent4 input[type="submit"].primary,
						#banner > .items section.accent4 input[type="reset"].primary,
						#banner > .items section.accent4 input[type="button"].primary,
						#banner > .items section.accent4 button.primary,
						#banner > .items section.accent4 .button.primary {
							box-shadow: 0 0 3em 0 rgba(0, 0, 0, 0.1);
							background-color: #ffde9f;
							color: #ffffff !important;
						}

							#banner > .items section.accent4 input[type="submit"].primary:hover,
							#banner > .items section.accent4 input[type="reset"].primary:hover,
							#banner > .items section.accent4 input[type="button"].primary:hover,
							#banner > .items section.accent4 button.primary:hover,
							#banner > .items section.accent4 .button.primary:hover {
								background-color: #ffe7b8;
							}

							#banner > .items section.accent4 input[type="submit"].primary:active,
							#banner > .items section.accent4 input[type="reset"].primary:active,
							#banner > .items section.accent4 input[type="button"].primary:active,
							#banner > .items section.accent4 button.primary:active,
							#banner > .items section.accent4 .button.primary:active {
								background-color: #ffefd2;
							}

		#banner > .slider {
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
			-moz-flex-shrink: 0;
			-webkit-flex-shrink: 0;
			-ms-flex-shrink: 0;
			flex-shrink: 0;
			-moz-transition: opacity 1.5s ease-in-out;
			-webkit-transition: opacity 1.5s ease-in-out;
			-ms-transition: opacity 1.5s ease-in-out;
			transition: opacity 1.5s ease-in-out;
			width: 60%;
			opacity: 1;
			position: relative;
		}

			#banner > .slider > article {
				-moz-transition: opacity 1.5s, visibility 1.5s;
				-webkit-transition: opacity 1.5s, visibility 1.5s;
				-ms-transition: opacity 1.5s, visibility 1.5s;
				transition: opacity 1.5s, visibility 1.5s;
				background-size: cover;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 0;
				visibility: hidden;
				z-index: 0;
			}

				#banner > .slider > article.visible {
					opacity: 1;
					visibility: visible;
				}

				#banner > .slider > article.top {
					z-index: 1;
				}

				#banner > .slider > article:before {
					content: '';
					height: 100%;
					left: 0;
					opacity: 0;
					position: absolute;
					top: 0;
					width: 100%;
				}

				#banner > .slider > article img {
					height: 100%;
					width: 100%;
				}

		body.is-preload #banner > .slider {
			opacity: 0;
		}

		@media screen and (max-width: 1680px) {

			#banner > .items section {
				padding: 4.5em 5em 2.5em 5em ;
			}

		}

		@media screen and (max-width: 1280px) {

			#banner > .items section {
				padding: 3.5em 3em 1.5em 3em ;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				-moz-flex-direction: column-reverse;
				-webkit-flex-direction: column-reverse;
				-ms-flex-direction: column-reverse;
				flex-direction: column-reverse;
			}

				#banner > .items {
					-moz-flex-direction: row;
					-webkit-flex-direction: row;
					-ms-flex-direction: row;
					flex-direction: row;
					width: 100%;
				}

				#banner > .slider {
					height: 40em;
					max-height: 55vh;
					width: 100%;
				}

		}

		@media screen and (max-width: 736px) {

			#banner > .items section {
				padding: 3em 3em 1em 3em ;
			}

				#banner > .items section h1 {
					font-size: 1.25em;
				}

			#banner > .slider {
				height: 30em;
				max-height: none;
			}

		}

		@media screen and (max-width: 480px) {

			#banner > .items {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
			}

				#banner > .items section {
					padding: 3em 3em 1em 3em ;
				}

			#banner > .slider {
				height: 20em;
				max-height: 40vh;
			}

		}